*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    font-size: 62.5%;
}
.flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
h1{
    text-align: center;
    font-size: larger;
    color: rebeccapurple;
}